// nav color
$navbar_white : #ffffff;
$navbar_color2 : #ECEDF2;
// dashboard backgrounds color
$bg_color : #f5f6fa;
// Text colors
$text_white : #fff; 
$text_dark1: #949ea5;
$text_dark2: #8a959d;
$text_dark3: #f0f1f5;
 
//colors
$white : #fff; 
$border : #ddd; 
$lightGrey : #ebedf2;
$label_color: #333;
$gray1 : #939ea6;
$grey2 : #bbb;
$grey3 : #ccc;

//login page
// form control border
$formFocusBorderBlue : rgb(104, 145, 162);
$formFocusBorderBlack: rgba(0,0,0,.075);

// help? text 
$forgot-password: rgb(12, 97, 33); 

// Admission
$arrow_color: #949ea6;
$aplic_sub_heading: #939ea6;
$submit_btn : #939ea6;
// hover
$blue_dodge: dodgerblue;
$choose_btn: #eee;

// bootstrap modal customize 
$modal_title : #939ea6;
$progress_bar: #828282;

// classv
$border_clr1 : #8a959d;
$modelclose : #707070;